
body{
   
   overflow-y: hidden;

}
.div{
   background-image: url(https://i.pinimg.com/originals/f7/5f/f2/f75ff23cd22d200f24bfd21f3a8b1f86.gif);
    background-size: contain;
    width:100%;
    height: 410px;
    background-position:left;
    background-repeat: no-repeat;
    
}